body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: steelblue;
}

* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 16px;
  background-color: white;
}

/* Full-width input fields */
input[type=text], input[type=password], input[type=date],input[type=number]{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password],input[type=number]:focus {
  background-color: #ddd;
  outline: none;
}

input[type=number].tel{
    width:55px;
    padding: 5px;
    margin:5px 5px 22px 5px;
    background: #f1f1f1;
    border:none;
}

input[type=number].tel::-webkit-inner-spin-button, 
input[type=number].tel::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* Overwrite default styles of hr */
hr {
  margin-bottom: 25px;
  border: 2px solid goldenrod;
  border-radius: 2px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: rgb(237, 187, 153);
  text-decoration: none;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

#wrapper{
  display: inline-block;
  width: 100%;
}

#error{
  background: #ff8080;
  border-radius: 25px;
  padding:10px;
}

#open{
  padding-top: 10px;
  font-size: 160%;
  text-align: center;
}

#save_btn{
  display: none;
}

/* The message box is shown when the user clicks on the password field */
#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 10px;
  margin-top: 2px;
  margin-bottom: 5px;
}

#message p {
  padding: 5px 35px;
  font-size: 13px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}

#psw_repeat{
  display:none;
}

#psw_repeat_label{
  display:none;
}